<footer class="site-footer">

  <div class="footer-inner">

    <!-- Colonna 1 -->
    <div class="footer-col">
      <h4 class="footer-title">Open Library</h4>
      <p>
        Un progetto Angular dedicato agli amanti della lettura.
      </p>
    </div>

    <!-- Colonna 2 -->
    <div class="footer-col">
      <h4 class="footer-title">Navigazione</h4>
      <a href="#">Home</a>
      <a href="#">Categorie</a>
      <a href="#">Contatti</a>
    </div>

    <!-- Colonna 3 -->
    <div class="footer-col">
      <h4 class="footer-title">Risorse</h4>
      <a href="https://openlibrary.org" target="_blank">
        Open Library API
      </a>
      <a href="https://github.com/AntonioDS1/html-open-library-angular.git">GitHub</a>
    </div>

  </div>

  <div class="footer-bottom">
    © {{ currentYear }} Open Library Angular Project
  </div>

</footer>
